<div>
  <!-- string interpolation
    *two way
    suited for div/span/titles etc
    property binding alternative :
    string interpolation :  <h2>{{getTitle()}}</h2>
    property binding : <h2 [textContent]="title"/>
  -->
  <!--<img src="{{imageUrl}}" />-->


  <!-- property binding
     *only one way
  -->
  <!--<img [src]="imageUrl" />-->

  <!-- <table>
    <tr>
      <td [attr.colspan]="colSpan">ssss</td>
      <button class="btn btn-primary" [class.active]="isActive">Save</button>
      <button [style.backgroundColor]="isActive ? 'blue':'white'">Save</button>
      <div (click)="onDivClicked($event)">
        <button (click)="onSave($event)">Save</button>
        <br>
        // one directional 
        1
        <input [value]="email1" (keyup.enter)="onKeyUp()" />
        <br>
        //two directional 
        2
        <input [value]="email2" (keyup.enter)="email2=$event.target.value; onKeyUp()" />
        <br>
        // banana in a box
        3
        <input [(ngModel)]="email3" (keyup.enter)="onKeyUp()" />
      </div>
    </tr>
  </table>  -->
  <!-- {{text | summary:10}} -->
  <!-- * structural components prefixed with * -->
  <button (click)="onAdd()"> Add</button>
  <div *ngIf="courses.length > 0; then coursesList else noCourses">
  </div>
  <ng-template #coursesList>
    {{getTitle()}}
    <ul>
      <li *ngFor="let course of courses;even as isEven">
        {{course.title | uppercase }} <a (click)="onRemove(course)">X</a>
        <!-- <span *ngIf="isEven">even</span> -->
        <!-- <br> {{course.name | lowercase }}
        <br> {{course.students | number}}
        <br> {{course.rating |number:'1.2-2'}}
        <br> {{course.price | currency:'INR'}}
        <br> {{course.releaseDate | date:'shortDate'}} -->
      </li>
    </ul>
  </ng-template>
  <ng-template #noCourses> No courses Yet</ng-template>

  <!-- <div [hidden]="courses.length == 0">
      {{getTitle()}}....
      <ul>
        <li *ngFor="let course of courses">
          {{course.title | uppercase }}
           <br> {{course.name | lowercase }}
          <br> {{course.students | number}}
          <br> {{course.rating |number:'1.2-2'}}
          <br> {{course.price | currency:'INR'}}
          <br> {{course.releaseDate | date:'shortDate'}}
        </li>
      </ul>
  </div>
  <div  [hidden]="courses.length > 0">
      No courses Yet....
  </div> -->