<form [formGroup]="form" (ngSubmit)='submit()'>
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input formControlName="oldPassword" id="oldPassword" type="password" class="form-control">
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old Password is required</div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">Old Password is not valid</div>
    </div>
    <label for="newPassword">New Password</label>
    <input formControlName="newPassword" id="newPassword" type="password" class="form-control">
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">New Password is required</div>
    </div>
    <label for="confirmPassword">Confirm Password</label>
    <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control">
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">Change Password is required</div>
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
    <div class="alert alert-danger" *ngIf="form.invalid && form.errors.confirmPasswordNotValid">Change Password is invalidvalid</div>
  </div>
</form>